[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh
[submodule ".config/Franz/recipes/dev/clickup"]
	path = .config/Franz/recipes/dev/clickup
	url = git@github.com:gengue/franz-recipe-clickup
[submodule ".emacs.d/custom/xresources-theme"]
	path = .emacs.d/custom/xresources-theme
	url = git@github.com:mihirlad55/xresources-theme
