[submodule "install"]
	path = install
	url = git@github.com:mihirlad55/arch-install
[submodule "st"]
	path = st
	url = git@github.com:mihirlad55/st
[submodule "dwm"]
	path = dwm
	url = git@github.com:mihirlad55/dwm
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh
