[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule ".config/Franz/recipes/dev/clickup"]
	path = .config/Franz/recipes/dev/clickup
	url = https://github.com/gengue/franz-recipe-clickup
[submodule ".emacs.d/custom/xresources-theme"]
	path = .emacs.d/custom/xresources-theme
	url = https://github.com/mihirlad55/xresources-theme
[submodule ".antigen"]
	path = .antigen
	url = https://github.com/zsh-users/antigen
