# Ignore everything
/*

# Except
!.gitignore


# Include .config/i3/*
!/.config/
/.config/*
!/.config/i3/

# Include .config/nvim/init.vim
!/.config/nvim/
/.config/nvim/*
!/.config/nvim/init.vim 

# Include .config/redshift/redshift.conf
!/.config/redshift
/.config/redshift/*
!/.config/redshift/redshift.conf

# Include .config/betterlockscreenrc
!/.config/betterlockscreenrc

#Include .config/compton.conf
!/.config/compton.conf

# Include .config/mimeapps.list
!/.config/mimeapps.list

# Include .config/polybar
!/.config/polybar
!/.config/polybar/*

# Include .config/dunst
!/.config/dunst
!/.config/dunst/*

# Include .config/gtk-3.0/settings.ini
!/.config/gtk-3.0/
/.config/gtk-3.0/*
!/.config/gtk-3.0/settings.ini

# Include .vim/autoload/*
!/.vim/
/.vim/*
!/.vim/autoload/
!/.vim/autoload/*

# Include .vifm/vifmrc
!/.vifm/
/.vifm/*
!/.vifm/vifmrc

# Include st/
!/st/
!/st/*

# Include dwm
!/dwm/
!/dwm/*

# Include oh-my-zsh
!/.oh-my-zsh/
!/.oh-my-zsh/*

# Include Backgrounds/
!/Backgrounds/
!/Backgrounds/*

# Include these files in root
!/
!/.bashrc
!/.emacs
!/.tmux.conf
!/.vimrc
!/.zshrc
!/.xinitrc
!/.gitconfig
!/.xsession
!/.xbindkeysrc
!/.yaourtrc
!/.Xresources
!/.Xresources.d/
!/.Xresources.d/*
!/install
!/install/*
