# Ignore everything
/*

# Except
!.gitignore


# Include .config/i3/*
!/.config/
/.config/*
!/.config/i3/

# Include .config/nvim/init.vim
!/.config/nvim/
/.config/nvim/*
!/.config/nvim/init.vim 

# Include .config/redshift/redshift.conf
!/.config/redshift
/.config/redshift/*
!/.config/redshift/redshift.conf

# Include .vim/autoload/*
!/.vim/
/.vim/*
!/.vim/autoload/
!/.vim/autoload/*

# Include .vifm/vifmrc
!/.vifm/
/.vifm/*
!/.vifm/vifmrc

# Include these files in root
!/
!/.bashrc
!/.emacs
!/.tmux.conf
!/.vimrc
!/.zshrc
!/.xinitrc
!/.gitconfig
!/.xsessionrc
!/.xbindkeysrc
!/.yaourtrc
!/install
!/install/*
