! INCLUDE THEME !
#include "/home/mihirlad55/.Xresources.d/themes/base16-google-dark"

! INCLUDE ROFI !
#include "/home/mihirlad55/.Xresources.d/rofi"

! INCLUDE POLYBAR !
#include "/home/mihirlad55/.Xresources.d/polybar"

! INCLUDE ST !
#include "/home/mihirlad55/.Xresources.d/st"

! INCLUDE i3 !
#include "/home/mihirlad55/.Xresources.d/i3"

