@import "config.rasi"

configuration {
    font:                           "System San Francisco 12";
}

window {
    height:                         100%;
    width:                          30%;
    location:                       east;
    anchor:                         east;
    x-offset:                       0;
    y-offset:                       0;
}
